*{margin: 0; padding: 0;}



.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: darkgray;
}

form {
    display: grid;
    grid-gap: 20px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #af4c4c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.titre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10em;
    background-image: url(https://static.vecteezy.com/ti/vecteur-libre/p1/2082591-abstact-red-line-vector-header-with-octagonal-mesh-overlap-layer-on-black-banner-with-hexagonal-pattern-modern-vector-background-vectoriel.jpg);
    background-position: right;
    border-bottom: solid 5px darkred;
}

h1{
    font-size: 50px;
    font-family: georgia;
    color: white;
}

.basdepage {
    display: flex;
    width: 60%;
    margin: auto;
    border: solid;
    border-radius: 25px;
    margin-bottom: 15px;
}

.left {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul {
    text-align: center;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: georgia;
    font-size: 4vh;
}

.right {
    width: 50%;
}

img {
    width: 40%;
    margin-left: 110px;
}