*{padding: O;margin: 0;font-family: oswald;}

header {
    background-color: #e8ecefa8;;

}

.logokalafamily {
    text-align: center;
  }
.logo {
    width: 25%;
  }

  .fond{background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20231028/pngtree-radiant-flames-abstract-background-of-a-warm-and-glowing-fireplace-fire-image_13752198.png);
    background-size: 100%;
    padding: 2em;
    background-position: center;
    background-repeat: no-repeat;}

  body {
    background-image: url(https://m.media-amazon.com/images/I/818vEmjWNRL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    margin: auto;
    background-color: #000000d1;
    padding-bottom: 15px;
    color: aliceblue;
    padding-top: 15px;
}

h1.resto {
    text-align: center;
    font-size: 12vh;
    border: solid;
    width: 29%;
    margin: auto;
    background-color: black;
    
}

h2.fam {
    text-align: center;
    font-size: 10vh;
    border: solid black;
    width: 19%;
    margin: auto;
    background-color: white;
    color: black;
    margin-top: 10px;
}

p {
    text-align: center;
    font-size: 5vh;
}

h1.hor {
    text-align: center;
    font-size: 16vh;
    width: 75%;
    margin: auto;
    transition: 1s;
    
}
h1.hor:hover {
    font-size: 20vh;
    transition:font-size 0.5s;
   
    
}

.p {
    display: flex;
    justify-content: center;
    
}

#jourouverture {
    text-align: center;
    padding: 20px;
    border: solid;
    width: 30%;
    background-color: goldenrod;
    color: aliceblue;
}

.tableauhoraires {
    display: flex;
    justify-content: center;
    font-size: 6vh;
    margin-top: 10px;
    background-color: #ff8c005e;
    width: 40%;
    margin: auto;
    border-radius: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    border: solid aliceblue;
}


.telephone {
    display: flex;
    justify-content: center;
}

h1.numero {
    text-align: center;
    border: solid 2px;
    padding: 9px;
    border-radius: 30px;
    background-color: darkgoldenrod;
    color: aliceblue;
    margin: 1em;
}

h1.sociale {
    text-align: center;
    font-size: 9vh;
    color: aliceblue;
}

.instaface {
    display: flex;
    justify-content: center;
    gap: 30px;
    border: solid;
    border-radius: 30px;
    padding: 2px;
    background-color: darkgoldenrod;
    color: aliceblue;
    width: 22%;
    margin: auto;
}
  
#lieninstagram {
    text-decoration: none;
    color: aliceblue;
}
#lieninstagram:hover {
    color: rgb(6, 6, 6);
  }

#lienfacebook {
    text-decoration: none;
    color: aliceblue;
}
#lienfacebook:hover {
    color: rgb(6, 6, 6);
  }

  .carta {
    text-align: center;
    padding: 2em;
}

#cart {
    text-decoration: none;
    color: black;
    font-size: 7vh;
    transition: 1s;
    
   
}

#cart:hover {
    font-size: 8vh;
    color: white;
    transition: 0.5s;
   
}

h3.pagedecarte {
    background-color:#e4e2104a;
    width: 30%;
    border-radius: 25px;
    margin: auto;
}